# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/


ENV/
venv.bak/
venv-*/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually contains a lot of build files that aren't necessary
pyinstaller/
*.spec

# Jupyter Notebook files checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# mypy
.mypy_cache/

# Environments
.env
.venv
.env.bak
.venv.bak

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# VS Code
.vscode/

# Virtual environment
venv/
env/
ENV/

# macOS files
.DS_Store
